<%- include('./partials/header') %>   


    <div id="welcome">
        WE HELP YOU PLAN YOUR AUTO REPAIRS
    </div> <br>
    <div id="welcome-sub"> 
        Schedule an appointment with us.
    </div> <br> <br>
    <div>
        <a href="/appointments/new">  <button  id="button-app">ADD APPOINTMENT</button></a>
        <a href="/auth/google">  <button  id="button-service"> ADD SERVICE </button> </a>
    </div>

<%- include('./partials/footer') %>