
* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #1f2122;
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 40px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: FFFFFF;
  padding: 10px;
  overflow-y: scroll;
}

nav > a {
  margin: 15px;
  text-decoration: none;
 
}

nav > logo{
  margin-right: auto;
}

#logo{

  font-weight: normal;
  text-align: left;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size:large;
}
.hamburger {
  display: block;
  float:right;
  margin-right: 25px;
  margin-top: 15px;
  }
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  margin: 6px 0px;
  background-color: rgb(56, 56, 56);
  }

a {
  text-align: flex-end;
  color: #3c3c3c;
  font-family: 'Open Sans', sans-serif; 
  font-size: 13px;
  
}

#welcome{
  margin-top: 200px;
  text-align: center;
  font-size: 45px;
  font-family: 'Open Sans', sans-serif; 
}
#welcome-sub{
  font-family: 'Open Sans', sans-serif; 
}

button{
  border: none;
  margin: 2vmin;
  border-radius: 5vmin; 
  justify-content: center;
  outline: none;
}

#button-app{
  width: 19vmin;
  height: 6vmin;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 115, 255);
  font-weight: light;
  font-size: 12px;
  color: white;
}
#button-service{
  width: 17vmin;
  height: 6vmin;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 232, 232);
  font-weight: light;
  font-size: 12px;
  color:  rgb(56, 56, 56);
}

#button-more, #edit-button {
  width: 10vmin;
  height: 3vmin;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: light;
  font-size: 14px;
  color:  rgb(56, 56, 56);

}

#delete-button{
  width: 10vmin;
  height: 3vmin;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 115, 255);
  font-weight: light;
  font-size: 18px;
  color: white;
}

#boxAppointment{
 
  background-color:  rgb(232, 232, 232);
  padding: 50px 150px 50px 150px;
  margin-top: 100px;
}

#buttonAdd, #button-add-service{
  border: none;
  margin: 2vmin;
  border-radius: 5vmin; 
  justify-content: center;
  outline: none;
  width: 16vmin;
  height: 4.5vmin;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 115, 255);
  font-weight: light;
  font-size: 12px;
  color: white;
  display: center;
  font-family: 'Open Sans', sans-serif; 

}

#titleDetails{
  font-weight: light;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  align-content: center;
}

#column1{
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
 
}
              
#form1Title, #form2Title, #form3Title, #all-appointments, #titleService{
  font-weight: light;
  font-size: 45px;
  font-family: 'Open Sans', sans-serif; 
  padding: 20px 20px 20px 20px;
  align-content: center;
}

#boxNewService, #boxEditService{
background-color:  rgb(232, 232, 232);
  padding: 50px 150px 50px 150px;
  margin-top: 100px;
}
#box-index{
  margin-top: 150px;
  background-color:  rgb(232, 232, 232);
}

th{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  
}

td{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: lighter ;
}
#table-1{
  padding-left: 50px;
  padding-right: 30px;
}


#box{
  padding-top: 6em;
}

#row{
  display: flex;
}

#column1, #column2 {

  background-color: rgb(232, 232, 232);
  padding: 10px;
  height: 400px;
}

#column1 {
  flex: 30%;
  font-size: 12px;
}

#column2 {
  flex: 70%;
  margin-left: 20px;
  font-size: 14px;
}

#service-button{
  border: none;
  margin: 2vmin;
  border-radius: 5vmin; 
  justify-content: center;
  outline: none;
  width: 16vmin;
  height: 4.5vmin;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 115, 255);
  font-weight: light;
  font-size: 12px;
  color: white;
  display: flex-end;
  font-family: 'Open Sans', sans-serif; 

}


footer {
  display: flex;
  padding: 15px 0px 40px 20px;
  bottom: 0;
  width: 100%;
  background-color: rgb(232, 232, 232);
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  }


  [data-from-dependent] {
    display: none;
  }
  
  [data-from-dependent].display {
    display: initial;
  }


#service-button{
  border: none;
  margin: 2vmin;
  border-radius: 5vmin; 
  justify-content: center;
  outline: none;
  width: 16vmin;
  height: 4.5vmin;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 115, 255);
  font-weight: light;
  font-size: 12px;
  color: white;
  display: flex-end;
  font-family: 'Open Sans', sans-serif; 

}