<%- include('../partials/header') %>   
    <div id="boxNewService">
        <div id="form2Title">  New Service </div> <br> <br> <br>
        <form id="service-form" action="/appointments/<%= appointmentDoc%>" method="POST">
           
            <label> Name:
                <select name="name">
                    <option value="Oil & Filter Change">Oil & Filter Change</option>
                    <option value="Tire Rotation">Tire Rotation</option>
                    <option value="State Inspection">State Inspection</option>
                    <option value="Wheel Alignment">Wheel Alignment</option>
                    <option value="Tire Replacement">Tire Replacement</option>
                    <option value="Flat Repair">Flat Repair</option>
                    <option value="Roadside Assistance">Roadside Assistance</option>
                    <option value="Brake">Brake</option>
                    <option value="Brake Fluid Exchange">Brake Fluid Exchange</option>
                    <option value="Other">Other</option>
                </select>
            </label><br><br>
            <label> Code:
                <select name="code"> 
                    <option value="S0001">S0001</option>
                    <option value="S0002-Subscription">S0002-Subscription</option>
                    
                </select>
            </label><br><br>
            <label> Time:
                <select name="time">
                    <option value="Fast">Fast</option>
                    <option value="Normal">Normal</option>
                </select>
            </label><br><br>
            <label> Price:
                <select name="price">
                    <option value="$250-Subscription">$250-Subscription</option>
                    <option value="$400-Subscription">$400-Subscription</option>
                    <option value="Service-provider">Service-provider</option>
                </select>
            </label> 
            <input id="button-add-service" type="submit" value="Done">   
        </form>

    </div>
<%- include('../partials/footer') %>